div#topbar {
  position:absolute;
  height:18%;
  width:98%;
  border: 1px solid red;
}
div#sidebar {
  position:absolute;
  top:20%;
  height:78%;
  width:18%;
  border: 1px solid green;
}
div#main {
  position:absolute;
  left: 19%;
  top: 20%;
  height:78%;
  width:80%;
  border: 1px solid blue;
}
