body {
  background-color:#DCF0F4;
}
div#topbar {
  position:absolute;
  height:50px;
  width:98%;
}
div#sidebar {
  position:absolute;
  padding:10px;
  top:50px;
  left:0;
  width:18%;
  height: 80%;
}
div.content {
  position:absolute;
  left: 19%;
  top: 50px;
  overfloe: auto;
  width: 78%;
  background-color:#F7F7F7;
}
li {
  list-style-type:none;
}
ul {
  left:10%;
}
h1 {
  margin: 0;
  font-size: 30px;
}
p {
  font-size:18px;
}
button#menu {
  display: none;
  position: absolute;
  top: 0;
  right: 5%
}
div.publication-links {
  font-size:16px;
  padding-top:5px;
  padding-left:20px;
}

/* MOBILE STYLES BELOW */

@media only screen and (max-width: 768px) {
  button#menu {
    display: block;
  }
  div#sidebar {
    display:none;
  }
  div#content {
    position:absolute;
    left: 2%;
    top: 50px;
    overflow: auto;
    width: 96%;
    background-color:#F7F7F7;
  }
  p {
    font-size: 14px;
  }
  div.publication-links {
  font-size:12px;
}
}
